/vibe.DirectoryServices/obj
/vibe.DirectoryServices/bin
/vibe.DirectoryServices.Providers.JsonFile/obj
/vibe.DirectoryServices.Providers.JsonFile/bin
/vibe.DirectoryServices.Providers.ActiveDirectory/obj
/vibe.DirectoryServices.Providers.ActiveDirectory/bin
/vibe.DirectoryServices.Provides.LdapNet/bin
/vibe.DirectoryServices.Provides.LdapNet/obj
/.vs
/ConsoleTester/bin
/ConsoleTester/obj
/vibe.DirectoryServices.Providers.LdapNet.UnitTests/bin
/vibe.DirectoryServices.Providers.LdapNet.UnitTests/obj
/.idea
vibe.DirectoryServices.Providers.LdapNet.UnitTests/Properties/launchSettings.json
